form{

    text-align: center;
    display: inline;
    padding: 20px;
    background-color: red;
    float: left;
}
table ,th ,td {
border: 1px solid white ;

}
body{

    background-image: url(img/page-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}